@import "../../styles/variables.scss";

.about_header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;

    &_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: opacity ease-in-out 1s;

        h2{
            padding-left: 5rem;
        }
    }
    &_right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        opacity: 0;
        transition: opacity ease-in-out 1s;
        transition-delay: 1s;
    }
}
.about_header_left_show, .about_header_right_show{
    opacity: 1;
}

.about_mission{
    background-color: $green-tertiary;
    padding: 20rem 0rem 5rem;
    margin-top: 20rem;
    margin-bottom: 5rem;
    position: relative;

    &_video{
        position: absolute;
        top: -30%;
        left: 5%;
        width: 90%;
        height: 400px;
        border-radius: 15px;
        overflow: hidden;
        opacity: 0;
        transition: opacity ease-in-out 1s;
        transition-delay: 2s;

        button{
            width: 100%;
            height: 100%;
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &_details{
        display: flex;
        flex-direction: column;
        gap: 5rem;

        &_top{
            display: grid;
            grid-template-columns: repeat(2, 500px);
            justify-content: space-evenly;
            gap: 3rem;

            &_each{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h5{
                    margin-bottom: 1rem;
                }
                h4{
                    font-weight: 600;
                }
            }
        }
    }
}

.about_mission_video_show{
    opacity: 1;
}


.about_awards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
    padding: 1rem;

    &_category{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        &_each{
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .7rem;
            opacity: 0;
            transition: opacity ease-in-out 1s;

            h3{
                font-weight: 600;
            }
            h5{
                font-weight: 500;
            }
            p{
                font-size: .6rem;
            }
        }
        &_each:nth-child(2){
            transition-delay: 300ms;
        }
        &_each:nth-child(3){
            transition-delay: 600ms;
        }
        &_each:nth-child(4){
            transition-delay: 900ms;
        }
    }
}
.about_awards_category_each_show{
    opacity: 1;
}


.about_journey{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
    background-color: $black;
    border-radius: 15px;
    padding: 5rem 0rem  5rem 7rem;
    overflow: hidden;

    &_left{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        transform: translateX(-200px);
        opacity: 0;
        transition: transform 1s ease-in-out ,opacity 2s ease-in-out;

        h5{
            color: $white;
        }
        h2{
            color: $white;
        }
        &_count{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            span{
                h3{
                    color: $white;
                }
            }
        }
    }
    &_right{
        border-radius: 15px 0px 0px 15px;
        opacity: 0;
        transition: opacity 2s ease-in-out;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.about_journey_left_show{
    opacity: 1;
    transform: translateX(0);
}
.about_journey_right_show{
    opacity: 1;
}

.about_team{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

    &_cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 3rem;
        padding: 2rem;
    }
}


/* media queries */
@media screen and (max-width: 1100px) {
    .about_mission{
        &_details{
            &_top{
                grid-template-columns: repeat(2, 300px);
            }
        }
    }
    .about_journey{
        padding: 3rem 0rem  3rem 5rem;
    }
}
@media screen and (max-width: 1000px) {
    .about_mission{
        &_video{
            height: 300px;
            top: -15%;
        }
    }
}
@media screen and (max-width: 800px) {
    .about_mission{
        margin-top: 10rem;
        padding: 10rem 0rem 5rem;
        &_video{
            height: 200px;
            top: -10%;
        }
    }
    .about_journey{
        grid-template-columns: 100%;

        &_left{
            padding-right: 1rem;
        }
        
        &_right{
        }
    }
}
@media screen and (max-width: 765px){
    .about_journey{
        border-radius: 0px;
    }
}
@media screen and (max-width: 700px) {
    .about_header{
        grid-template-columns: 100%;
        padding: 2rem;
        gap: 3rem;

        &_right{
            gap: 1rem;
        }
    }
    .about_mission{
        &_details{
            padding: 1rem;
            &_top{
                grid-template-columns: 100%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .about_header{
        &_left{
            h2{
                padding-left: 3rem;
            }
        }
        &_right{
            h4{
                font-size: 1.2rem;
            }
        }
    }
    .about_mission{
        &_video{
            height: 150px;
            top: -5%;
        }
    }
}