@import "../../styles/variables.scss";

.home_header_container{
    background-image: url("https://res.cloudinary.com/dfltu5jw4/image/upload/v1709710637/finsweet/home/BG_Image_lzaars.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_header{
    
    padding: 10rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 15rem;

    &_top{
        width: 700px;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1{
            color: $white;
        }
        button:hover{
            color: $white;
            border-color: $white;
        }
    }
    &_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        
        span{
            color: $white;
        }
        &_line{
            border: 1px solid $white;
            border-style: solid none none;
            height: 1px;
            flex: 1;
        }
    }
}

/* know about us section */

.home_know{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 5rem auto;

    &_top{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;

        &_left{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &_bottom{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding-left: 5rem;
            }
        }

        &_right{
            display: flex;
            justify-content: center;
            align-items: center;
            &_video{
                border-radius: 10px;
                max-width: 400px;
                height: auto;
            }
        }
    }
    &_bottom{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &_our{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        &_supporters{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 3rem;

            img{
                width: 150px;
            }
        }
    }
}

.home_what_section{
    background-color: $green-tertiary;
    padding: 5rem 1rem;
    margin-bottom: 5rem;
}

.home_what{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    &_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        &_bottom{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-left: 5rem;

            &_cards{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding: 1rem;
                border: 1px solid $off-white;
                border-style: none none none solid;

                div{
                    display: flex;
                    gap: .7rem;
                    width: 300px;
                    
                    span{
                        img{
                            width: 70px;
                        }
                        h4{
                            margin-bottom: .5rem;
                        }
                    }
                }
            }
        }
    }
    &_right{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 400px;
        }
    }
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;

    h1{
        padding-left: 5rem;
        width: 40rem;
        margin-bottom: 2rem;
    }

    &_cards{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: space-evenly;
    }
}

.home_spend_container{
    background-color: $black;
    padding: 5rem 0rem;
    margin-bottom: 5rem;
}
.home_spend{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    &_left{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;

        h1{
            color: $white;
        }

        &_donations{
            display: flex;
            justify-content: flex-start;
            gap: 1rem;
            flex-wrap: wrap;

            p{
                display: flex;
                gap: .5rem;
                align-items: center;
                span{
                    display: block;
                    width: 20px;
                    height: 10px;
                }
            }
        }
    }

    &_right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.home_contribute{
    margin-bottom: 5rem;
    background-image: url("https://res.cloudinary.com/dfltu5jw4/image/upload/v1709797629/finsweet/home/wind_mill_ykzzpd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        z-index: 1;

        h1{
            color: $white;
        }
        div{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }
}

.home_card_news{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}


/* media queries */
@media screen and (max-width: 1100px) {
    .home_know{
        &_top{
            gap: 2rem;

            &_right{
                &_video{
                    width: 300px;
                }
            }
        }
    }
}
@media screen and (max-width: 10000px) {
    .home_header{
        &_top{
            width: 500px;
        }
    }
}
@media screen and (max-width: 800px) {
    .home_know{
        &_top{
            grid-template-columns: 100%;
            gap: 5rem;
            padding: 2rem;
        }
        &_bottom{
            padding: 2rem;
        }
    }
    .home_what{
        grid-template-columns: 100%;
    }
    .projects{
        h1{
            width: fit-content;
        }
    }
    .home_spend{
        grid-template-columns: 100%;
        padding: 2rem;
    }
    .home_contribute{
        padding: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .home_header{
        &_top{
            width: 400px;
        }
    }
    .home_contribute{
        border-radius: 0px;
    }
}
@media screen and (max-width: 600px){
    .home_header{
        padding: 10rem 2rem 5rem;
    }
}
@media screen and (max-width: 500px) {
    .home_header{
        padding: 10rem 2rem 5rem;
        &_top{
            width: 320px;
        }
        &_bottom{
            span{
                font-size: .7rem;
                font-weight: 400;
            }
        }
    }
    .home_know{
        &_top{
            &_left{
                &_bottom{
                    padding-left: 3rem;
                }
            }
        }
    }
    .home_what{
        &_left{
            &_bottom{
                padding-left: 3rem;
            }
        }
        &_right{
            img{
                width: 200px;
            }
        }
    }
    .home_contribute{
        &_content{
            div{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .home_know{
        &_top{
            &_left{
                &_bottom{
                    padding-left: 2rem;
                }
            }
        }
    }
    .home_what{
        &_left{
            &_bottom{
                padding-left: 2rem;
            }
        }
    }
}