@import "../../styles/variables.scss";

.donate_header{
    background-color: $green-tertiary;
    padding: 5rem 0rem;

    &_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        &_left{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            transform: translateX(-200px);
            opacity: 0;
            transition: transform 1s ease-in-out, opacity 2s ease-in-out;

            &_bottom{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding-left: 5rem;
            }
        }

        &_right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 2s ease-in-out;
        }
    }
}
.donate_header_container_left_show{
    opacity: 1;
    transform: translateX(0);
}
.donate_header_container_right_show{
    opacity: 1;
}

.donate_contribute{
    padding: 7rem 0rem;
    margin-bottom: 2rem;
    border: 1px solid $off-white;
    border-style: none none solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    &_left{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        transform: translateX(-200px);
        opacity: 0;
        transition: transform 1s ease-in-out, opacity 2s ease-in-out;
    }
    &_right{
        opacity: 0;
        transform: translateX(200px);
        transition: transform 1s ease-in-out, opacity 2s ease-in-out;
    }
}
.donate_contribute_left_show, .donate_contribute_right_show{
    opacity: 1;
    transform: translateX(0);
}

.donation_use{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.donation_use_show{
    opacity: 1;
}


// media queries

@media screen and (max-width: 800px) {
    .donate_header{
        padding: 5rem 1rem;
        &_container{
            grid-template-columns: 100%;
        }
    }
    .donate_contribute{
        grid-template-columns: 100%;
        padding: 7rem 1rem;
    }
    .donation_use{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .donation_use{
        padding: 0rem 1rem;
    }
}
@media screen and (max-width: 500px) {
    .donate_header{
        &_container{
            &_left{
                &_bottom{
                    padding-left: 3rem;
                }
            }
        }
    }
    .donation_use{
        grid-template-columns: 100%;
    }
}