@import '../../styles/variables.scss';

.logo {
    width: fit-content;
    background-color: transparent;

    span {
        font-size: 1.8rem;
        font-weight: 600;
        /* margin-left: -.8rem; */
    }
}
