@import '../../styles/variables.scss';

.events_header {
    padding: 10rem 0rem;
    background-color: $green-tertiary;

    &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        &_dates {
            display: flex;
            gap: 1rem;

            p {
                display: flex;
                gap: 1rem;
                align-items: center;
            }
        }
    }
}

.events_details {
    padding: 10rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

// media queries
@media screen and (max-width: 700px) {
    .events_header,
    .events_details {
        padding: 10rem 2rem;
    }
}
