@import "../../styles/variables.scss";


.contact_header{
    background-color: $off-white;
    padding: 5rem 0rem;

    &_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: start;
        gap: 10rem;

        &_left{
            display: flex;
            flex-direction: column;
            gap: 3rem;

            &_bottom{
                padding-left: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }
        &_right{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }
    }
}

.contact_form{
    padding: 5rem 0rem;
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_top, &_middle{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        &_name, &_email{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            input{
                border: 1px solid $off-white;
                border-style: none none solid;

            }
            input:focus{
                outline: none;
            }
            .contact_error{
                color: #E6A4B4;
                font-size: .8rem;
            }
        }
    }
    &_bottom{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        textarea{
            border: 1px solid $off-white;
            border-radius: 10px;
            padding: 1rem;
        }
        textarea:focus{
            outline: none;
        }
        .contact_error{
            color: #E6A4B4;
            font-size: .8rem;
        }

    }
}
.contact_error{
    color: #E6A4B4;
    font-size: .8rem;
}
.map_responsive{
    overflow: hidden;
    padding-bottom: 5rem;
    position: relative;
    height: 50vh;
}

.map_responsive iframe{
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

// media queries
@media screen and (max-width: 1000px) {
    .contact_header{
        &_container{
            gap: 1.5rem;
        }
    }
}
@media screen and (max-width: 800px) {
    .contact_header{
        padding: 5rem 2rem;
        &_container{
            grid-template-columns: 100%;
            gap: 3rem;
            &_right{
                padding-left: 5rem;
            }
        }
    }
    .contact_form{
        width: 450px;
        &_top, &_middle{
            grid-template-columns: 100%;
        }
    }
}
@media screen and (max-width: 500px) {
    .contact_header{
        padding: 5rem 1rem;
        &_container{
            &_left{
                &_bottom{
                    padding-left: 3rem;
                }
            }
            &_right{
                padding-left: 3rem;
            }
        }
    }
    .contact_form{
        width: 100%;
        padding: 2rem;
    }
}