$white: #fff;
$black: #000;
$primary-text: #191919;
$secondary-text: #61677a;
$off-white: #ebf0f9;
$border: #f5f5f5;
$green-primary: #79ac78;
$green-secondary: #b4d4b4;
$green-tertiary: #e4f2e5;
$transition: all ease 300ms;
