$white: #fff;
$black: #000;
$primary-text: #191919;
$secondary-text: #61677A;
$off-white: #EBF0F9;
$border: #F5F5F5;
$green-primary: #79AC78;
$green-secondary: #b4d4b4;
$green-tertiary: #e4f2e5;
$transition: all ease 300ms;