$white: #fff;
$black: #000;
$primary-text: #191919;
$secondary-text: #61677A;
$off-white: #B6BBC4;
$border: #F5F5F5;
$green-primary: #79AC78;
$green-secondary: #B0D9B1;
$green-tertiary: #D0E7D2;
$transition: all ease 300ms;